In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)
%matplotlib inline

In [2]:
df1=pd.read_csv("Delhi_v2.csv")
df1.head()

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593

In [4]:
df1.Address.unique()

array(['Noida Extension, Noida, Delhi NCR',
       'Sector 79, Gurgaon, Delhi NCR', 'Vaishali, Ghaziabad, Delhi NCR',
       ...,
       'Sector137 Noida Paramount Floraville, Sector 137, Noida, Delhi NCR',
       'Greater Noida, Sector 2, Greater Noida, Delhi NCR',
       'sandal apartment, Shalimar Garden Extension 1, Ghaziabad, Delhi NCR'],
      dtype=object)

In [4]:
df1.groupby("area_type")['price'].agg('mean')

area_type
Built-up  Area          104.285498
Carpet  Area             89.502356
Plot  Area              208.495486
Super built-up  Area     92.971757
Name: price, dtype: float64

In [5]:
df2=df1.drop(df1[["latitude","longitude","parking","Balcony","Lift","Landmarks","desc"]],axis=1)
df2.head()

,Unnamed: 0,price,Address,area,Bedrooms,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,3.0,3.0,Under Construction,New Property,NaN,Flat,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,3.0,3.0,Ready to Move,New Property,Semi-Furnished,Flat,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,4.0,5.0,Ready to Move,New Property,Unfurnished,Flat,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,2.0,2.0,NaN,New Property,Unfurnished,Flat,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,2.0,2.0,Ready to Move,Resale,NaN,Flat,4592.592593

In [6]:
df2.isnull().sum()

Unnamed: 0             0
price                  0
Address                0
area                   0
Bedrooms               0
Bathrooms              0
Status               574
neworold               0
Furnished_status    3614
type_of_building       0
Price_sqft             0
dtype: int64

In [7]:
df3=df2.dropna()
df3.head()

,Unnamed: 0,price,Address,area,Bedrooms,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,3.0,3.0,Ready to Move,New Property,Semi-Furnished,Flat,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,4.0,5.0,Ready to Move,New Property,Unfurnished,Flat,6918.238994
10,10,7300000.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR",850.0,3.0,2.0,Ready to Move,New Property,Semi-Furnished,Flat,8588.235294
12,12,10500000.0,"Sector 110A, Gurgaon, Chandan Vihar, Gurgaon, ...",1615.0,3.0,3.0,Ready to Move,Resale,Unfurnished,Flat,6501.547988
15,15,9500000.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR",1000.0,3.0,2.0,Ready to Move,New Property,Semi-Furnished,Individual House,9500.000000

In [8]:
df3.isnull().sum()

Unnamed: 0          0
price               0
Address             0
area                0
Bedrooms            0
Bathrooms           0
Status              0
neworold            0
Furnished_status    0
type_of_building    0
Price_sqft          0
dtype: int64

In [9]:
df3.shape

(3556, 11)

In [10]:
df3['Bedrooms'].unique()

array([ 3.,  4.,  2.,  6.,  5., 10.,  8.,  7.,  9.])

In [11]:
df3['Bedrooms'].unique()

array([ 3.,  5.,  2.,  4.,  6.,  7.,  8., 10.,  9.])

In [13]:
df3["BHK"]=df3["Bedrooms"]
df3.head()

C:\Users\NAMAN PATHAK\AppData\Local\Temp\ipykernel_17552\3664852840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["BHK"]=df3["Bedrooms"]

,Unnamed: 0,price,Address,area,Bedrooms,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft,BHK
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,3.0,3.0,Ready to Move,New Property,Semi-Furnished,Flat,5906.040268,3.0
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,4.0,5.0,Ready to Move,New Property,Unfurnished,Flat,6918.238994,4.0
10,10,7300000.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR",850.0,3.0,2.0,Ready to Move,New Property,Semi-Furnished,Flat,8588.235294,3.0
12,12,10500000.0,"Sector 110A, Gurgaon, Chandan Vihar, Gurgaon, ...",1615.0,3.0,3.0,Ready to Move,Resale,Unfurnished,Flat,6501.547988,3.0
15,15,9500000.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR",1000.0,3.0,2.0,Ready to Move,New Property,Semi-Furnished,Individual House,9500.000000,3.0

In [14]:
df4=df3.drop(df3[['Bedrooms']],axis=1)
df4.head()

,Unnamed: 0,price,Address,area,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft,BHK
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,3.0,Ready to Move,New Property,Semi-Furnished,Flat,5906.040268,3.0
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,5.0,Ready to Move,New Property,Unfurnished,Flat,6918.238994,4.0
10,10,7300000.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR",850.0,2.0,Ready to Move,New Property,Semi-Furnished,Flat,8588.235294,3.0
12,12,10500000.0,"Sector 110A, Gurgaon, Chandan Vihar, Gurgaon, ...",1615.0,3.0,Ready to Move,Resale,Unfurnished,Flat,6501.547988,3.0
15,15,9500000.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR",1000.0,2.0,Ready to Move,New Property,Semi-Furnished,Individual House,9500.000000,3.0

In [15]:
df4['area'].unique()

array([1490., 2385.,  850., 1615., 1000., 1450., 1087., 1600., 1836.,
       1481., 1100.,  950.,  700.,  750.,  540., 1200., 1232., 1689.,
       1685., 1170., 1275.,  800., 2000., 1365., 1260., 1198.,  650.,
       2100.,  900., 2500., 6168., 1150., 2300.,  559., 1935.,  770.,
       1065., 3500., 1250., 3150., 1650., 1460.,  968., 1008., 1900.,
       2800.,  608.,  630., 2550., 1455., 1750., 1800., 1234.,  615.,
       1658., 1050.,  720., 1285., 1350., 1335., 2200., 2700., 1500.,
       1475., 2400., 2430.,  560., 4600., 1775.,  675.,  810., 1695.,
        825., 8500.,  936., 1675.,  710., 1488., 1215., 3050., 2160.,
        785., 1655.,  585., 1839., 1180., 1400.,  880.,  600., 1730.,
       1435.,  887.,  862., 1330., 1360.,  625., 1440., 3200., 1110.,
       1710., 1040., 1277., 4500.,  920.,  670., 4000., 1620., 2060.,
       1055.,  510., 5500.,  840., 2120., 3700., 1090., 1954.,  775.,
       2050.,  899.,  994., 1300., 1550., 4486., 1080., 5840., 3775.,
       4200., 2003., 1725., 3600.,  582.,  760., 1495., 1058., 1175.,
        973., 1850.,  990., 1700.,  890., 2250., 1575., 1140., 1125.,
       1640., 1888., 1565., 1540., 1915., 1595., 1690.,  904., 1545.,
       1265., 1880.,  699., 1044., 3000., 1930., 1254., 2150., 1095.,
        960., 1960.,  846., 1045., 1120.,  891., 1610., 2032., 2495.,
       1822., 3414., 1728., 1114., 1375.,  995.,  895., 1770., 5199.,
        740., 3195., 1543., 1470., 1457.,  965.,  975., 1041., 3100.,
        855., 2158., 1248., 1062., 1072.,  780.,  725.,  765.,  795.,
       1740.,  579.,  940., 2387., 1020., 1075.,  935., 1380., 1295.,
       3025., 1895.,  980., 1498., 1105.,  988.,  835.,  930.,  910.,
       1157., 1190., 1950.,  507.,  925., 2152., 1316.,  927., 1520.,
       1530., 1426., 1255., 1975., 1742.,  830.,  985.,  802.,  820.,
        660., 1680., 1352., 1115., 1855., 1145.,  595., 1410., 1560.,
       1605., 1244., 1070., 1630.,  570., 1385., 1735., 1092.,  680.,
       1060.,  580., 1731.,  892., 3330.,  966., 1425., 1660.,  715.,
       1390., 2600., 1715., 1635., 1494., 1194., 1920., 3744.,  915.,
        998., 1356., 1185.,  713., 2750., 3009., 1225., 1430., 1554.,
       1197., 1160., 1970., 1280., 2438.,  568., 2010., 1305., 1551.,
        563., 1492., 1830.,  918.,  749., 1025.,  781.,  822., 5000.,
       2525.,  645., 1320., 1687., 1224., 1033., 1985., 1031., 2225.,
       1395., 1240.,  801.,  962., 2020.,  632., 1515., 1130.,  535.,
       1015., 1618., 1032., 1106., 1290., 3685., 3020., 1890., 1438.,
       5400., 2175., 7000., 1857., 4700., 1376., 1547.,  758., 1186.,
       1069., 2960., 1325.,  550., 1164., 2336., 1574., 1505., 1368.,
       1328., 1001.,  970., 1820., 1510., 1402., 1073., 1780., 1377.,
       1205., 1261., 2776., 2650., 1264.,  748.,  520., 1785.,  945.,
       1216.,  959.,  993.,  955., 1420., 1005., 1155., 2535., 1484.,
        522., 1212., 1825., 1117., 1642.,  677., 2082.,  668., 1340.,
       1590.,  565., 1514., 2445., 3375.,  592., 1525., 2264., 5200.,
       2625., 1465., 1995., 1840., 2880., 4644.,  983.,  875., 2105.,
       2772., 1405., 1760., 6800., 2112., 2259., 1507., 1386.,  851.,
        504., 1727.,  569., 2714., 4690., 1531., 1755., 2092., 2370.,
        865., 1875., 3300., 6140., 1865., 6000., 4050., 1956., 3030.,
       1195., 4820., 4900.,  537., 1010., 6500., 1743., 1270.,  981.,
        642., 1983.,  757.,  807., 1082., 4545., 1971.,  648.,  972.,
       4230., 1230., 2734., 1137., 2549., 3850., 1562., 2425., 1622.,
       1391., 5010., 1412., 1256., 1267.,  576.,  622., 1919., 3090.,
       2850., 1471., 1415., 1980.,  741., 1296., 1409., 4520., 2337.,
       1066., 2036., 1370., 1652., 1027., 1085., 1720., 2285., 1165.,
       1097., 1625., 1035.,  702., 2232., 1580., 1999., 1304., 1179.,
       1235., 1442., 1803., 1548., 1860.,  860., 1093., 1018., 2983.,
       1310., 1142., 2325.,  976., 2067.,  870., 2605.,  612., 1286.,
       1476., 1810., 2286.,  669.,  963., 2052., 1485.,  596.,  903.,
       1885.,  516., 1815., 1645., 1767.,  917., 1107., 3767., 1144.,
       1628., 1337., 2177., 1790., 1508.,  977., 1152.,  805.,  804.,
       1570., 2376., 1910., 6220., 1751.,  946., 1832.,  837.,  623.,
       1706., 1737.,  919.,  562., 1472., 1183.,  766., 2466., 1674.,
       1124.,  828., 2240.,  969., 2345., 1241., 1028., 1024., 1210.,
       1944.,  594., 1538., 1444.,  601., 1707.,  911.,  564.,  742.,
       8000., 1535.,  590., 2627., 1126., 1148., 1796., 1829., 1345.,
       1245., 1099., 1432.,  685., 1034.,  747.,  730., 1593., 1187.,
        554., 1116., 1283.,  979., 1158., 1917., 1512., 1536.,  549.,
       1604.,  958., 1786.,  534., 1184., 1805., 1006., 1428., 1833.,
       1252., 1487.,  987., 5700., 1528., 1196.,  544., 1414., 2066.,
       2610., 1945., 3550., 1478., 1030., 1480., 2367.,  848., 2380.,
       2140.,  984., 2368., 5100., 4800., 5605., 3240., 2331., 4300.,
       1268., 2186., 1891., 1341., 1206., 1462.,  696., 1366., 1367.,
        942., 1612., 1990., 3440., 2374., 1592.])

In [16]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True;

In [19]:
df4.head()

,Unnamed: 0,price,Address,area,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft,BHK
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,3.0,Ready to Move,New Property,Semi-Furnished,Flat,5906.040268,3.0
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,5.0,Ready to Move,New Property,Unfurnished,Flat,6918.238994,4.0
10,10,7300000.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR",850.0,2.0,Ready to Move,New Property,Semi-Furnished,Flat,8588.235294,3.0
12,12,10500000.0,"Sector 110A, Gurgaon, Chandan Vihar, Gurgaon, ...",1615.0,3.0,Ready to Move,Resale,Unfurnished,Flat,6501.547988,3.0
15,15,9500000.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR",1000.0,2.0,Ready to Move,New Property,Semi-Furnished,Individual House,9500.000000,3.0

In [18]:
(df4[~df4["area"].apply(is_float)]).area.unique()

array([], dtype=float64)

In [25]:
df4["location"]=df4["Address"]
df4=df4.drop(df4[['Address']],axis=1)
df4.head()

,Unnamed: 0,price,area,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft,BHK,location
1,1,8800000.0,1490.0,3.0,Ready to Move,New Property,Semi-Furnished,Flat,5906.040268,3.0,"Sector 79, Gurgaon, Delhi NCR"
2,2,16500000.0,2385.0,5.0,Ready to Move,New Property,Unfurnished,Flat,6918.238994,4.0,"Vaishali, Ghaziabad, Delhi NCR"
10,10,7300000.0,850.0,2.0,Ready to Move,New Property,Semi-Furnished,Flat,8588.235294,3.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR"
12,12,10500000.0,1615.0,3.0,Ready to Move,Resale,Unfurnished,Flat,6501.547988,3.0,"Sector 110A, Gurgaon, Chandan Vihar, Gurgaon, ..."
15,15,9500000.0,1000.0,2.0,Ready to Move,New Property,Semi-Furnished,Individual House,9500.000000,3.0,"Sector 24 Rohini, New Delhi - Rohini, Delhi NCR"

In [26]:
len(df4.location.unique())

2183

In [27]:
df4.location=df4.location.apply(lambda x:x.strip())
location_count=df4.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_count

location
Indirapuram, Ghaziabad, Delhi NCR                                       71
Raj Nagar Extension, Ghaziabad, Delhi NCR                               54
Noida Extension, Greater Noida, Delhi NCR                               35
Greater Noida West, Greater Noida, Delhi NCR                            29
Sahibabad, Ghaziabad, Delhi NCR                                         24
                                                                        ..
Gaur Yamuna City 16th Park View, Taj Expressway, Noida, Delhi NCR        1
Gaur City 2, Noida, Uttar Pradesh, Noida Extension, Noida, Delhi NCR     1
Gaur City 2 12th Avenue, Noida Extension, Noida, Delhi NCR               1
Gardenia Grace Noida Sec61, Sector 61, Noida, Delhi NCR                  1
zeta -1, Zeta, Greater Noida, Delhi NCR                                  1
Name: location, Length: 2183, dtype: int64

In [28]:
less_count_location=location_count[location_count<=10]
less_count_location

location
Sector 37D, Gurgaon, Delhi NCR                                          10
Vasundhara, Ghaziabad, Delhi NCR                                        10
Bhopura, Ghaziabad, Delhi NCR                                           10
Sector 1 Vasundhara, Ghaziabad, Delhi NCR                               10
Zeta 1, Greater Noida, Delhi NCR                                        10
                                                                        ..
Gaur Yamuna City 16th Park View, Taj Expressway, Noida, Delhi NCR        1
Gaur City 2, Noida, Uttar Pradesh, Noida Extension, Noida, Delhi NCR     1
Gaur City 2 12th Avenue, Noida Extension, Noida, Delhi NCR               1
Gardenia Grace Noida Sec61, Sector 61, Noida, Delhi NCR                  1
zeta -1, Zeta, Greater Noida, Delhi NCR                                  1
Name: location, Length: 2156, dtype: int64

In [29]:
df4.location=df4.location.apply(lambda x:'other'if x in less_count_location else x)
len(df4.location.unique())

28

In [30]:
df4.groupby('location')['location'].agg('count').sort_values(ascending=False)

location
other                                                3013
Indirapuram, Ghaziabad, Delhi NCR                      71
Raj Nagar Extension, Ghaziabad, Delhi NCR              54
Noida Extension, Greater Noida, Delhi NCR              35
Greater Noida West, Greater Noida, Delhi NCR           29
Sahibabad, Ghaziabad, Delhi NCR                        24
Crossings Republik, Ghaziabad, Delhi NCR               23
NH 24, Ghaziabad, Delhi NCR                            20
Noida Extension, Noida, Delhi NCR                      20
Vaishali, Ghaziabad, Delhi NCR                         19
Shalimar Garden Extension 1, Ghaziabad, Delhi NCR      19
Palam Vihar, Gurgaon, Delhi NCR                        17
Techzone 4, Greater Noida, Delhi NCR                   17
Niti Khand-Indirapuram, Ghaziabad, Delhi NCR           16
Kaushambi, Ghaziabad, Delhi NCR                        16
Sector 5 Vaishali, Ghaziabad, Delhi NCR                15
Dwarka Mor, New Delhi - West, Delhi NCR                15
Lal Kuan, Ghaziabad, Delhi NCR                         14
Sector 5 Rajendra Nagar, Ghaziabad, Delhi NCR          13
Uttam Nagar, New Delhi - West, Delhi NCR               13
Sector 4 Vaishali, Ghaziabad, Delhi NCR                12
Sector 57, Gurgaon, Delhi NCR                          12
Sector 92, Gurgaon, Delhi NCR                          12
Shalimar Garden Extension 2, Ghaziabad, Delhi NCR      12
Govindpuram, Ghaziabad, Delhi NCR                      12
Shakti Khand 2, Ghaziabad, Delhi NCR                   11
Uttam Nagar West, New Delhi - West, Delhi NCR          11
Sector 16, Greater Noida, Delhi NCR                    11
Name: location, dtype: int64

In [31]:
df4[:11]

,Unnamed: 0,price,area,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft,BHK,location
1,1,8800000.0,1490.0,3.0,Ready to Move,New Property,Semi-Furnished,Flat,5906.040268,3.0,other
2,2,16500000.0,2385.0,5.0,Ready to Move,New Property,Unfurnished,Flat,6918.238994,4.0,"Vaishali, Ghaziabad, Delhi NCR"
10,10,7300000.0,850.0,2.0,Ready to Move,New Property,Semi-Furnished,Flat,8588.235294,3.0,other
12,12,10500000.0,1615.0,3.0,Ready to Move,Resale,Unfurnished,Flat,6501.547988,3.0,other
15,15,9500000.0,1000.0,2.0,Ready to Move,New Property,Semi-Furnished,Individual House,9500.000000,3.0,other
16,16,15000000.0,1450.0,3.0,Ready to Move,New Property,Semi-Furnished,Individual House,10344.827586,4.0,other
18,18,5100000.0,1087.0,2.0,Ready to Move,Resale,Semi-Furnished,Flat,4691.812328,2.0,other
21,21,8700000.0,1600.0,2.0,Ready to Move,Resale,Unfurnished,Flat,5437.500000,3.0,other
27,27,10000000.0,1836.0,2.0,Ready to Move,Resale,Semi-Furnished,Individual House,5446.623094,3.0,other
30,30,9000000.0,1481.0,2.0,Ready to Move,Resale,Unfurnished,Flat,6076.975017,2.0,other
33,33,5310000.0,1100.0,2.0,Ready to Move,Resale,Furnished,Flat,4827.272727,3.0,"Shakti Khand 2, Ghaziabad, Delhi NCR"

In [32]:
df4.shape

(3556, 11)

In [36]:
len(df4.Furnished_status.unique())

3

In [33]:
df4.head()

,Unnamed: 0,price,area,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft,BHK,location
1,1,8800000.0,1490.0,3.0,Ready to Move,New Property,Semi-Furnished,Flat,5906.040268,3.0,other
2,2,16500000.0,2385.0,5.0,Ready to Move,New Property,Unfurnished,Flat,6918.238994,4.0,"Vaishali, Ghaziabad, Delhi NCR"
10,10,7300000.0,850.0,2.0,Ready to Move,New Property,Semi-Furnished,Flat,8588.235294,3.0,other
12,12,10500000.0,1615.0,3.0,Ready to Move,Resale,Unfurnished,Flat,6501.547988,3.0,other
15,15,9500000.0,1000.0,2.0,Ready to Move,New Property,Semi-Furnished,Individual House,9500.000000,3.0,other

In [38]:
df5=df4[~(df4.type_of_building=="Individual House")]
df5.shape

(2850, 11)

In [41]:
len(df5.type_of_building.unique())

1

In [43]:
df6=df5[df5.Bathrooms<df5.BHK+2]
df6.shape

(2837, 11)

In [44]:
def remove_price_outliers(df):
    df_output=pd.DataFrame()
    for key,location_info in df.groupby('location'):
        mean=np.mean(location_info['Price_sqft'])
        std=np.std(location_info['Price_sqft'])
        reduce_df=location_info[(location_info['Price_sqft']>(mean-std)) & (location_info['Price_sqft']<=(mean+std))]
        df_output=pd.concat([df_output,reduce_df],ignore_index=True)
    return df_output

df7=remove_price_outliers(df6)
df7.shape

(2260, 11)

In [45]:
def remove_location_price_outliers(df):
    exclude_idx=np.array([])
    for location,location_info in df.groupby('location'):
        bhk_info={}
        for bhk,bhk_stat in location_info.groupby('BHK'):
             bhk_info[bhk]={
            'mean':np.mean(bhk_stat['Price_sqft']),
            'std':np.std(bhk_stat['Price_sqft']),
            'count':bhk_stat.shape[0]
        }
        for bhk,bhk_stat in location_info.groupby('BHK'):
            prev_info=bhk_info.get(bhk-1)
            if prev_info and prev_info['count']>5:
                exclude_idx=np.append(exclude_idx,bhk_stat[bhk_stat['Price_sqft']<(prev_info['mean'])].index.values)
    return df.drop(exclude_idx,axis='index')     
        
df8=remove_location_price_outliers(df7)
df8.shape

(1768, 11)

In [46]:
df8.head()

,Unnamed: 0,price,area,Bathrooms,Status,neworold,Furnished_status,type_of_building,Price_sqft,BHK,location
0,2006,4000000.0,1150.0,2.0,Ready to Move,Resale,Unfurnished,Flat,3478.260870,2.0,"Crossings Republik, Ghaziabad, Delhi NCR"
1,2035,4670000.0,1320.0,2.0,Ready to Move,Resale,Semi-Furnished,Flat,3537.878788,3.0,"Crossings Republik, Ghaziabad, Delhi NCR"
2,2132,4600000.0,1400.0,2.0,Ready to Move,Resale,Furnished,Flat,3285.714286,2.0,"Crossings Republik, Ghaziabad, Delhi NCR"
3,2669,3450000.0,1075.0,2.0,Ready to Move,Resale,Semi-Furnished,Flat,3209.302326,2.0,"Crossings Republik, Ghaziabad, Delhi NCR"
4,3794,4300000.0,1200.0,2.0,Ready to Move,Resale,Semi-Furnished,Flat,3583.333333,2.0,"Crossings Republik, Ghaziabad, Delhi NCR"

In [48]:
df9=df8.drop(['Price_sqft',"type_of_building","Status","neworold","Furnished_status"],axis=1)
df9.shape

(1768, 6)

In [54]:
df9=df9.drop(["Unnamed: 0"],axis=1)

In [55]:
df9.head()

       price    area  Bathrooms  BHK                                  location
0  4000000.0  1150.0        2.0  2.0  Crossings Republik, Ghaziabad, Delhi NCR
1  4670000.0  1320.0        2.0  3.0  Crossings Republik, Ghaziabad, Delhi NCR
2  4600000.0  1400.0        2.0  2.0  Crossings Republik, Ghaziabad, Delhi NCR
3  3450000.0  1075.0        2.0  2.0  Crossings Republik, Ghaziabad, Delhi NCR
4  4300000.0  1200.0        2.0  2.0  Crossings Republik, Ghaziabad, Delhi NCR

In [56]:
dummies=pd.get_dummies(df9.location);
df10=pd.concat([df9,dummies.drop('other',axis=1)],axis='columns')
df10.head()

,price,area,Bathrooms,BHK,location,"Crossings Republik, Ghaziabad, Delhi NCR","Dwarka Mor, New Delhi - West, Delhi NCR","Govindpuram, Ghaziabad, Delhi NCR","Greater Noida West, Greater Noida, Delhi NCR","Indirapuram, Ghaziabad, Delhi NCR",...,"Sector 5 Vaishali, Ghaziabad, Delhi NCR","Sector 57, Gurgaon, Delhi NCR","Sector 92, Gurgaon, Delhi NCR","Shakti Khand 2, Ghaziabad, Delhi NCR","Shalimar Garden Extension 1, Ghaziabad, Delhi NCR","Shalimar Garden Extension 2, Ghaziabad, Delhi NCR","Techzone 4, Greater Noida, Delhi NCR","Uttam Nagar West, New Delhi - West, Delhi NCR","Uttam Nagar, New Delhi - West, Delhi NCR","Vaishali, Ghaziabad, Delhi NCR"
0,4000000.0,1150.0,2.0,2.0,"Crossings Republik, Ghaziabad, Delhi NCR",True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4670000.0,1320.0,2.0,3.0,"Crossings Republik, Ghaziabad, Delhi NCR",True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4600000.0,1400.0,2.0,2.0,"Crossings Republik, Ghaziabad, Delhi NCR",True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3450000.0,1075.0,2.0,2.0,"Crossings Republik, Ghaziabad, Delhi NCR",True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4300000.0,1200.0,2.0,2.0,"Crossings Republik, Ghaziabad, Delhi NCR",True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [57]:
df11=df10.drop('location',axis=1)
df11.head()

,price,area,Bathrooms,BHK,"Crossings Republik, Ghaziabad, Delhi NCR","Dwarka Mor, New Delhi - West, Delhi NCR","Govindpuram, Ghaziabad, Delhi NCR","Greater Noida West, Greater Noida, Delhi NCR","Indirapuram, Ghaziabad, Delhi NCR","Kaushambi, Ghaziabad, Delhi NCR",...,"Sector 5 Vaishali, Ghaziabad, Delhi NCR","Sector 57, Gurgaon, Delhi NCR","Sector 92, Gurgaon, Delhi NCR","Shakti Khand 2, Ghaziabad, Delhi NCR","Shalimar Garden Extension 1, Ghaziabad, Delhi NCR","Shalimar Garden Extension 2, Ghaziabad, Delhi NCR","Techzone 4, Greater Noida, Delhi NCR","Uttam Nagar West, New Delhi - West, Delhi NCR","Uttam Nagar, New Delhi - West, Delhi NCR","Vaishali, Ghaziabad, Delhi NCR"
0,4000000.0,1150.0,2.0,2.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4670000.0,1320.0,2.0,3.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4600000.0,1400.0,2.0,2.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3450000.0,1075.0,2.0,2.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4300000.0,1200.0,2.0,2.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [58]:
df11.shape

(1768, 31)

In [59]:
X=df11.drop(['price'],axis=1)
X.head()

,area,Bathrooms,BHK,"Crossings Republik, Ghaziabad, Delhi NCR","Dwarka Mor, New Delhi - West, Delhi NCR","Govindpuram, Ghaziabad, Delhi NCR","Greater Noida West, Greater Noida, Delhi NCR","Indirapuram, Ghaziabad, Delhi NCR","Kaushambi, Ghaziabad, Delhi NCR","Lal Kuan, Ghaziabad, Delhi NCR",...,"Sector 5 Vaishali, Ghaziabad, Delhi NCR","Sector 57, Gurgaon, Delhi NCR","Sector 92, Gurgaon, Delhi NCR","Shakti Khand 2, Ghaziabad, Delhi NCR","Shalimar Garden Extension 1, Ghaziabad, Delhi NCR","Shalimar Garden Extension 2, Ghaziabad, Delhi NCR","Techzone 4, Greater Noida, Delhi NCR","Uttam Nagar West, New Delhi - West, Delhi NCR","Uttam Nagar, New Delhi - West, Delhi NCR","Vaishali, Ghaziabad, Delhi NCR"
0,1150.0,2.0,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1320.0,2.0,3.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1400.0,2.0,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1075.0,2.0,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1200.0,2.0,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [60]:
y=df11.price
y.head()

0    4000000.0
1    4670000.0
2    4600000.0
3    3450000.0
4    4300000.0
Name: price, dtype: float64

In [62]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)
len(X_train)

1414

In [63]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [64]:
model.score(X_test,y_test)

0.9525224701673567

In [65]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
cross_val_score(LinearRegression(),X,y,cv=cv)

array([0.91330973, 0.9237233 , 0.90710055, 0.92783054, 0.93791278])

In [66]:
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV, ShuffleSplit
import pandas as pd

def find_best_model(X, y):
    params_info = {
        'linear_regression': {
            'model': LinearRegression(),
            'params': {
                #'normalize': [True, False]
            }
        },
        'lasso_regression': {
            'model': Lasso(),
            'params': {
                'alpha': [1, 2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion': ['mse', 'friedman_mse'],
                'splitter': ['best', 'random']
            }
        }
    }
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    score = []
    for model_name, config in params_info.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X, y)
        score.append({
            'model': model_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(score, columns=['model', 'best_score', 'best_params'])
    
find_best_model(X,y)

C:\Users\NAMAN PATHAK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\NAMAN PATHAK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\NAMAN PATHAK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "C:\Users\NAMAN PATHAK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\NAMAN PATHAK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'friedman_mse', 'squared_error', 'absolute_error', 'poisson'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\NAMAN PATHAK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.90412915 0.89881656]
  warnings.warn(

,model,best_score,best_params
0,linear_regression,0.921975,{}
1,lasso_regression,0.921976,"{'alpha': 2, 'selection': 'cyclic'}"
2,decision_tree,0.904129,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [67]:
X.head()

,area,Bathrooms,BHK,"Crossings Republik, Ghaziabad, Delhi NCR","Dwarka Mor, New Delhi - West, Delhi NCR","Govindpuram, Ghaziabad, Delhi NCR","Greater Noida West, Greater Noida, Delhi NCR","Indirapuram, Ghaziabad, Delhi NCR","Kaushambi, Ghaziabad, Delhi NCR","Lal Kuan, Ghaziabad, Delhi NCR",...,"Sector 5 Vaishali, Ghaziabad, Delhi NCR","Sector 57, Gurgaon, Delhi NCR","Sector 92, Gurgaon, Delhi NCR","Shakti Khand 2, Ghaziabad, Delhi NCR","Shalimar Garden Extension 1, Ghaziabad, Delhi NCR","Shalimar Garden Extension 2, Ghaziabad, Delhi NCR","Techzone 4, Greater Noida, Delhi NCR","Uttam Nagar West, New Delhi - West, Delhi NCR","Uttam Nagar, New Delhi - West, Delhi NCR","Vaishali, Ghaziabad, Delhi NCR"
0,1150.0,2.0,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1320.0,2.0,3.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1400.0,2.0,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1075.0,2.0,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1200.0,2.0,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [68]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)
model=LinearRegression()
model.fit(X_train,y_train)

def predict_price(location,sqft,bath,bhk):
    loc_idx=np.where(X.columns==location)[0][0]
    
    x=np.zeros(len(X.columns))
    x[0]=sqft
    x[1]=bath
    x[2]=bhk
    if loc_idx>=0:
        x[loc_idx]=1
    return model.predict([x])[0]

In [71]:
predict_price('Crossings Republik, Ghaziabad, Delhi NCR',1500,2,2)

C:\Users\NAMAN PATHAK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

5570771.727514485

In [72]:
y.head()

0    4000000.0
1    4670000.0
2    4600000.0
3    3450000.0
4    4300000.0
Name: price, dtype: float64

In [74]:
import pickle
with open('delhi_price_prediction_model.pickle','wb') as f:
    pickle.dump(model,f)

In [75]:
import json
columns_info={
    'df_columns':[col.lower() for col in X.columns]
}
with open('delhi_columns.json','w') as f:
    f.write(json.dumps(columns_info))